<h1 mat-dialog-title>{{ titulo }}</h1>
<form [formGroup]="formGroup" (submit)="salvar()">
  <mat-dialog-content>
      <mat-form-field>
        <mat-label>Titulo da Coluna</mat-label>
        <input matInput type="text" formControlName="titulo" />
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <app-button-salvar [disabled]="formGroup.invalid" [titulo]="hasEdit() ? 'Atualizar' : 'Criar'"></app-button-salvar>
    <ng-container *ngIf="hasEdit();else descartar">
      <app-button-descartar titulo="Excluir" (click)="excluir()"></app-button-descartar>
    </ng-container>
    <ng-template #descartar>
      <app-button-descartar mat-dialog-close></app-button-descartar>
    </ng-template>
  </mat-dialog-actions>
</form>
