<div class="container p-3">
  <article class="text-center">
    <header>
      <h1>&#9996; Task Board</h1>
      <h2>
        <i>Quadro para controle de tarefas</i>
      </h2>
    </header>

    <main>
        <p>
          Task Board tem como propósito auxiliar usuários no acompanhamento
         e cumprimento de suas tarefas / metas.
        </p>

        <h3>Funcionalidades</h3>
        <ul style="list-style: none;">
          <li>&check; Cadastro de tarefas</li>
          <li>&check; Consulta de tarefas</li>
          <li>&check; Lembrete para tarefas</li>
          <li>&check; Temporizador para tarefas</li>
          <li>&check; Quadro para acompanhamento facilitado</li>
          <li>&check; calculo de progresso / desempenho</li>
        </ul>
    </main>

    <footer>
      <p>
        <strong>Repositório: </strong> <a href="https://github.com/rafaelreis96/task-board" target="_blank">https://github.com/rafaelreis96/task-board</a>
      </p>
    </footer>

  </article>

</div>
