.note {
  width: 250px;
  height: 250px;
  background-image: url('/assets/images/postnote-yellow.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(-1.4deg);
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transition: 500ms;

  &:hover{
    transform: rotate(-2.5deg);
  }

  &-header {
    padding-top: 24px;
    position: relative;
  }

  &-title {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-content {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  &-footer {
    padding: 8px;
    position: absolute;
    bottom: 20px;
    right: 8px;
  }

}
