<header>
  <mat-toolbar color="primary">
    <h1>{{ title }}</h1>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</header>
