.column{
  width: 270px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &-header {
    text-align: center;
    border-bottom: solid 2px #555;
    background-color: #EEE;
    padding: 8px;
    display: block;
    width: inherit;
    height: 50px;
    z-index: 1;
  }

}
