<h1 mat-dialog-title>{{ note.titulo }}</h1>
<mat-dialog-content class="mat-typography">
  <p>
    {{ note.descricao }}
  </p>

  <p>
    <b>Periodo: </b>{{ (note.periodo?.inicio | date:'dd/MM/yyyy HH:mm') + ' - '+(note.periodo?.termino | date:'dd/MM/yyyy HH:mm')  }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-button color="primary" (focus)="false" title="Editar" (click)="editarDialog()">
      Editar
    </button>
    <button type="button" mat-button color="accent" title="Excluir" (click)="remover()">
      Excluir
    </button>
</mat-dialog-actions>
