.board {

  &-content {
    display: flex;
  }

  &-column {
    border-right: solid 2px #555;
    &:last-child {
      border: none;
    }
  }

  &-footer {
    position: fixed;
    right: 1em;
    bottom: 3em;
  }
}
